<%-include('user_header')%>
    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>customer's login</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">login</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="login-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Login</h3>
                    <div class="theme-card">
                        <form class="theme-form" method="post" action="/login">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="email" class="form-control" id="email" placeholder="Email" required="">
                            </div>
                            <div class="form-group">
                                <label for="review">Password</label>
                                <input type="password" name="password" class="form-control" id="review"
                                    placeholder="Enter your password" required="">
                            </div>
                            <button type="submit" class="btn btn-solid">Login</button>
                        </form>
                    </div>
                    <a href="/google" type="submit" class="btn btn-solid mt-4">Login With Google</a>
                </div>
                <div class="col-lg-6 right-login">
                    <h3>New Customer</h3>
                    <div class="theme-card">
                        <form class="theme-form" method="post" action="/register">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="email" class="form-control" id="email" placeholder="Email" required="">
                            </div>
                            <div class="form-group">
                                <label for="email">Name</label>
                                <input type="text" name="name" class="form-control" id="email" placeholder="Email" required="">
                            </div>
                            <div class="form-group">
                                <label for="review">Password</label>
                                <input type="password" name="password" class="form-control" id="review"
                                    placeholder="Enter your password" required="">
                            </div>
                            <div class="form-group">
                                <label for="review">Confirm Password</label>
                                <input type="password" name="cpassword" class="form-control" id="review"
                                    placeholder="Enter your Confirm password" required="">
                            </div>
                            <button type="submit" class="btn btn-solid">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->
<%-include('user_footer')%>